* { 
  -webkit-transition: all .2s linear; 
  -o-transition: all .2s linear; 
  -moz-transition: all .2s linear; 
  transition: all .2s linear; 
}

/*Text Colors */
a{
  color: #393636;
}

a:hover{
  color: #E36A54;
}

.hover-italic{
}
.hover-italic:hover{
  -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.hover-large:hover{
  scale: 1.1;
}

.cl-primary {
	color: #E36A54;
}

.cl-hover-primary:hover {
	color: #E36A54;
}

.cl-secondary {
	color: #68E5AE;
}

.cl-black-base {
	color: red;
}

.border-primary {
  border: solid 2px #E36A54!important;
}

.bg-primary {
  background-color: #E36A54!important;
}

.coinouter {
  width: 30px;
  height: 30px;
  border: 2px solid #e5a930;
  border-radius: 50%;
  color: #e5a930;
  box-shadow: 0 0 0.625em #e5a930, 0 0 0.5em #e5a930, 0 0 0.75em #e5a930;
}

@keyframes flip {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(-180deg);
    }
}

.f-jp{
  font-family: source-han-sans-japanese, sans-serif;
  word-break: break-word;
}

.f-en{
  
}
@media (max-width: 575px) {
  .vh100-phone{
    height: 100vh;
  }
}

#blackscreen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(112, 112, 112, 0.8);
  z-index: 2;
}

#loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: #F9F9F9;
  /* z-index: 3; */
  -webkit-animation: cssAnimation 6s forwards; 
  animation: cssAnimation 6s forwards;
}

@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  width: 81px;
  height: 66px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #707070;
  margin: 10px 0;
  transition: all 0.2s ease-in-out;
}

.line1 {
  transform-origin: bottom right; /* changed from top right */
  width: 80px; /* changed from 20px */
}

.line2 {
  transform-origin: center right;
  width: 60px;
}

.line3 {
  transform-origin: top right; /* changed from bottom right */
  width: 40px; /* changed from 40px */
}

.change .line1 {
  transform: rotate(45deg) translate(12px, 43px); /* changed from rotate(-45deg) translate(-3px, -4px) */
  width: 50px; /* changed from 30px */
}

.change .line2 {
  width: 30px;
  opacity: 0;
}

.change .line3 {
  transform: rotate(-45deg) translate(12px, -43px); /* changed from opacity: 0 */
  width: 50px;
}

.default-button {
  position: relative;
  background: #E36A54;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  width: 240px;
  height: 48px;
  transition: 0.3s;
  letter-spacing: 1.6px;
}

.default-button::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50px;
  border: #E36A54 4px solid;
  transition: 0.3s;
}

.default-button:hover{
  width: 241px;
  height: 49px;
  font-size: 18px;
  letter-spacing: 1.8px;
  transition: 0.3s;
}

.default-button:hover:after{
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: #E36A54 3px solid;
  transition: 0.3s;
}

.secondary-button {
  position: relative;
  background: white;
  border-radius: 50px;
  border: #E36A54 2px solid;
  color: #E36A54;
  font-size: 16px;
  letter-spacing: 1.6px;
  width: 240px;
  height: 48px;
  transition: 0.3s;
}

.secondary-button::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50px;
  border: #E36A54 1px solid;
  transition: 0.3s;
}

.secondary-button:hover{
  width: 241px;
  height: 49px;
  font-size: 18px;
  letter-spacing: 1.8px;
  transition: 0.3s;
}

.secondary-button:hover:after{
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: #E36A54 1px solid;
  transition: 0.3s;
}

.tertiary-button {
  position: relative;
  background: #68E5AE;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  letter-spacing: 1.6px;
  width: 103px;
  height: 32px;
  transition: 0.3s;
}

/* .default-button:hover:after {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 25px;
  border: #E36A54 2px solid;
  transition: 0.3s;
}
*/

.text-over-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-layer-border-1-parent, 
.img-layer-border-2-parent, 
.img-layer-border-3-parent{
  position: relative;
  display: inline-flex;
}

.img-layer-border-1-parent::after {
  content: '';
  position: absolute;
  top: 40px;
  left: -40px;
  right: 40px;
  bottom: -40px;
  border: #68E5AE 2px solid;
  transition: 0.3s;
  z-index: -1;
}

.img-layer-border-1 {
  display: inline-table;
  box-shadow: -20px 20px #68E5AE;
}

.img-layer-border-2-parent::after {
  content: '';
  position: absolute;
  top: -40px;
  left: 40px;
  right: -40px;
  bottom: 40px;
  border: #68E5AE 2px solid;
  transition: 0.3s;
  z-index: -1;
}

.img-layer-border-2 {
  display: inline-table;
  box-shadow: 20px -20px #68E5AE;
}

.img-layer-border-3-parent::after {
  content: '';
  position: absolute;
  top: -40px;
  left: -40px;
  right: 40px;
  bottom: 40px;
  border: #68E5AE 2px solid;
  transition: 0.3s;
  z-index: -1;
}

.img-layer-border-3 {
  display: inline-table;
  box-shadow: -20px -20px #68E5AE;
}

@media (max-width: 991px) {
  .img-layer-border-1-parent::after,
  .img-layer-border-2-parent::after,
  .img-layer-border-3-parent::after{
    display: none!important;
  }
  .img-layer-border-1,
  .img-layer-border-2,
  .img-layer-border-3{
    box-shadow: none!important;
  }
}

.card-1{
  /* margin-right: -100px;  */
  margin-bottom: -90px;
}

.card-2{
  /* margin-left: -50px;  */
  margin-bottom: 210px;
}

.card-3{
  /* margin-right: -100px;  */
  margin-bottom: 190px;
}
@media (max-width: 991px) {
  .card-1{
    margin-right: 0px; 
    margin-bottom: 0px;
  }
  .card-2{
    margin-left: 0px; 
    margin-bottom: 0px;
  }
  .card-3{
    margin-right: 0px; 
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .card-1{
    margin-right: -10px; 
  }
  .card-3{
    margin-right: 0px; 
    margin-bottom: 0px;
  }
}
@media (min-width: 992px) and (max-width: 1350px) {
  .card-2{
    margin-left: -30px; 
    margin-bottom: 110px;
  }
}


/* float button */
.floating {
  background-color: white;
  border-radius: 50%;
  padding-left: 15px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 18px;
  box-shadow: 0px 0px 20px -8px #393636;
}

@media screen and (min-width: 768px) {
  .floating {
    padding-left: 15px;
    padding-top: 12px;
    padding-right: 15px;
    padding-bottom: 18px;
  }
}

#float-menu{
  bottom: 55%; 
  right: 2%;
}

.floating img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 60px;
    max-height: 60px;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .floating img {
    max-width: 60px;
    max-height: 60px;
  }
}

@media screen and (min-width: 0px) and (max-width: 575px){
  #float-menu{
    bottom: 80%; 
    right: 2%;
  }
}

/* draft */
@media (min-width: 992px) {
  .p-l-lg-90{
    padding-left: 90px;
  }
  .m-t-lg-175{
    margin-top: 175px;
  }
  .m-t-lg-0{
    margin-top: 0px;
  }
  .m-t-lg-150{
    margin-top: 150px;
  }
  .p-r-lg-70{
    padding-right: 70px;
  }
}

.app-icons {
  display: flex;
  align-items: center;
}

.android {
  /* width: 200px; */
  padding-left: 0;
  padding-right: 0;
  width: 106%;
  height: 106%;
  object-fit: cover;
}

.apple {
  /* width: 164px; */
  padding-left: 0;
  padding-right: 0;
  width: 85%;
  height: 85%;
  object-fit: cover;
}